{{#each this}}
<li class="list-card__item">
    {{#if poster_path}}
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' alt='{{original_title}}' loading="lazy" data-id="{{id}}"/>
    {{else}}
    <img src='https://sd.keepcalms.com/i/keep-calm-poster-not-found.png'alt='poster not found' class='lazyload'/>
    {{/if}}
    <h2 data-id="{{id}}">{{original_title}}</h2>
    <ul>Genre
        {{#each genres}}
        <li>
            {{this.name}}
        </li>
        {{/each}}
    </ul>
    <p>{{year}}</p>
    <p>{{vote_average}}</p>
</li>
{{/each}}