<div class='modal'>
  <div class='modal__img'>
    <button
      class='modal__button--trailer'
      aria-label='watch the trailer'
      data-id='{{id}}'
    >Trailer</button>
    <img
      class='modal__poster'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt={{original_title}}
      loading='lazy'
    /></div>
  <div class='modal__content'><h2 class='modal__title'>{{original_title}}</h2>
    <div class='modal__info'>
      <ul class='modal__list-key'>
        <li class='modal__list-key-item'>Vote / Votes</li>
        <li class='modal__list-value-item'><span
            class='modal__list-vote'
          >{{vote_average}}</span>
          /
          <span class='modal__list-value-item'>{{vote_count}}</span>
        </li>
      </ul>
      <ul class='modal__list-key'>
        <li class='modal__list-key-item'>Popularity</li>
        <li class='modal__list-value-item'>{{popularity}}</li>
      </ul>
      <ul class='modal__list-key'>
        <li class='modal__list-key-item'>Original Title</li>
        <li class='modal__list-value-item'>{{original_title}}</li>
      </ul>
      <ul class='modal__list-key'>
        <li class='modal__list-key-item'>Genre</li>
        <li class='modal__list-value-item'>{{#each genres}}{{this.name}}
          {{/each}}</li>
      </ul>

    </div>
    <p class='modal__about'>ABOUT</p>
    <p class='modal__about-text'>{{overview}}</p>
    <div class='modal__buttons'>
      <button class='modal__button--watched' type='submit'>ADD TO WATCHED</button>
      <button class='modal__button--queue' type='submit'>ADD TO QUEUE</button></div>
  </div>
  <button type='button' class='modal__button-close'></button>
</div>